:root {
    color-scheme: light dark;
    font-family: "Roboto", sans-serif;

    --base: #eff1f5;
    --surface: #ccd0da;
    --surface-1: #bcc0cc;
    --text: #4c4f69;
    --accent: #8839ef;

    background-color: var(--base);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--text);
}

main {
    padding: 2rem;
}

footer {
    background-color: var(--surface);
    padding: 1rem;
    border-radius: 0.5rem;
    position: fixed;
    display: block;
    bottom: 1rem;
    left: 2rem;
    right: 2rem;
}

footer a {
    color: var(--accent);
    text-decoration: underline;
}

h1,
h2 {
    margin-bottom: 1rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --base: #1e1e2e;
        --surface: #313244;
        --surface-1: #45475a;
        --text: #cdd6f4;
        --accent: #cba6f7;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.list__item {
    background-color: var(--surface);
    padding: 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    cursor: pointer;
}

@media (hover: hover) {
    .list__item:hover {
        background-color: var(--surface-1);
        filter: drop-shadow(0 0 1rem var(--accent));
    }
}
