---
import { getProfile } from "../lib/gh"

interface Props {}

const ghProfile = await getProfile()
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href={ghProfile.avatar} />
        <meta name="generator" content={Astro.generator} />
        <title>{ghProfile.name}</title>
        <link rel="stylesheet" href="/styles/global.css" />
    </head>
    <body>
        <main>
            <h1>{ghProfile.name}</h1>
            <slot />
        </main>
        <footer>
            Build using <a
                href="https://astro.build/"
                target="_blank"
                rel="noopener noreferrer">Astro</a
            >
        </footer>
    </body>
</html>
